In [6]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

response = requests.get("https://www.4icu.org/top-universities-world/")
res = response.content
soup = BeautifulSoup(res, "html.parser")

t_head = soup.find_all("th", {"scope": "col"})
the_head = []
for i in t_head:
    text = i.get_text()
    the_head.append(text)
    
the_ranks = []
ranks = soup.find_all("b")
for ranks_ in ranks:
    n = ranks_.get_text()
    the_ranks.append(n)

the_names = []
names = soup.select('tbody > tr > td > a')
for items in names:
    nn = items.get_text()
    the_names.append(nn)

the_coun = []
coun = soup.select('tbody > tr > td > img')
for items in coun:
    nc = items.get("alt")
    the_coun.append(nc)


df = pd.DataFrame([(a, b, c) for a,b,c,in zip(the_ranks,the_names,the_coun)], columns=[params for params in the_head])
df.set_index(the_head[0], inplace= True)
df

                                 University        Country
Rank
1     Massachusetts Institute of Technology  United States
2                        Harvard University  United States
3                       Stanford University  United States
4        University of California, Berkeley  United States
5                         Purdue University  United States
...                                     ...            ...
196                       Drexel University  United States
197               San José State University  United States
198               University of North Texas  United States
199                         Keio University          Japan
200                      Fordham University  United States

[200 rows x 2 columns]