In [174]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [175]:
response = requests.get("https://www.4icu.org/top-universities-world/")
res = response.content

In [176]:
soup = BeautifulSoup(res, "html.parser")

In [177]:
table_data = []
table = soup.find('table', attrs={'class':'table table-hover'})

for tr in table.find_all('tr'):
    td = tr.find_all('td')
    row = [tr.text for tr in td]
    table_data.append(row)

In [178]:
pd.DataFrame(table_data[1:], columns=["Rank", "University", "Country"])

    Rank                             University Country
0      1  Massachusetts Institute of Technology      us
1      2                     Harvard University      us
2      3                    Stanford University      us
3      4     University of California, Berkeley      us
4      5                      Purdue University      us
..   ...                                    ...     ...
195  196                      Drexel University      us
196  197              San José State University      us
197  198              University of North Texas      us
198  199                        Keio University      jp
199  200                     Fordham University      us

[200 rows x 3 columns]